# PANDAS
Pandas nos otorga diversas facilidades para el ““domados de datos””. Nos otorga dos estructuras de datos:

Series: Es un array unidimensional que representa una columna.
DataFrame: Es un conjunto de series que forman una tabla. Se pueden acceder a través de indices como una etiqueta(label) o pueden ser posicionales es decir 0 o índice 100. También pueden ser rangos o slices
Estas estructuras de datos no son contenedores de datos. En Pandas las utilizamos para transformar y enriquecer nuestros datos, manipularlos, manejar los faltantes, realizar operaciones aritméticas, combinar diferentes dataframes en uno solo para obtener una nueva tabla.
[PDF CON EL RESUMEN DE PANDAS](https://drive.google.com/file/d/1Ti6jBZkSPpIF8VGdtxCz1FbKOHWNxV2M/view?usp=sharing)

Entre otras cosas nos sirve principalmente para:


1.   Manipular Datos.
2.   Manipular Datos Faltantes.
3.   Realizar operaciones aritméticas y booleanos.
4.   Operaciones similares a las bases de datos como merge y agregaciones.
5.   Leer datos de archivo y escribir en disco.


*Nota*: Es convención emplear pandas como pd

In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

# Estructura de datos: Series
Series es un vector unidimensional, para poder acceder a esta lista podemos usar posiciones o labels, siendo este último el preferido para manipular las series. Una diferencia importante sobre las listas de Python es que los datos son homogéneos, es decir solo podemos tener un tipo de dato por cada Serie.

Las Series se pueden crear a partir de cualquier secuencia(listas, tuplas, arrays de numpy y diccionarios).

En Python tenemos la filosofía del Duck Typing, si se ve como un pato y hace cuac, a ese animal le llamamos pato, si una serie se comporta una lista, se accede como una lista en principio deberíamos llamarla lista, pero esto no es así.

Una mejor aproximación para inicializar Series es utilizar diccionarios.

In [5]:
series_test = pd.Series([100,200,300])
print('Se muestra indice, posición y tipo de dato')
print(series_test)

0    100
1    200
2    300
dtype: int64

In [1]:
business_results =pd.Series({'a':4200,
                  'carne':4800,
                  'pollo':5400,
                  'pezcado':2200})
print(business_results)

NameError: name 'pd' is not defined

#Estructura de datos: DataFrames
DataFrames son simplemente una tabla donde las filas y las columnas tienen etiquetas, se puede construir de diferentes formas pero siempre debemos considerar que la estructura que necesitamos construir para inicializarla tiene que ser bidimensional. Una matriz y puede ser una lista de listas, lista de tuplas, un diccionario de Python u otro DataFrame.

Si solo tenemos una dimensión a eso no le llamamos DataFrame, le llamamos Serie. Cuando utilizamos un diccionario las llaves se convierten en las llaves de la columna.

In [50]:
business_results_frame= pd.DataFrame({2017:[2000,1000,1200],
                  2018:[2300,1200,1300],
                  2019:[2400,1600,1400],
                  2020:[1000,600,600]},)
print (business_results_frame)
business_results_frame

        2017  2018  2019  2020
comida  2000  2300  2400  1000
bebida  1000  1200  1600   600
extra   1200  1300  1400   600

        2017  2018  2019  2020
comida  2000  2300  2400  1000
bebida  1000  1200  1600   600
extra   1200  1300  1400   600

In [35]:
business_results_frame = pd.DataFrame([[2000,1000,1200],
                            [2300,1200,1300],
                            [2400,1600,1400],
                            [1000,600,600]])
business_results_frame

      0     1     2
0  2000  1000  1200
1  2300  1200  1300
2  2300  1200  1300
3  1000   600   600

In [51]:
business_results_frame= pd.DataFrame({2017:[2000,1000,1200],
                  2018:[2300,1200,1300],
                  2019:[2400,1600,1400],
                  2020:[1000,600,600]},index=['comida','bebida','extra'])
business_results_frame

        2017  2018  2019  2020
comida  2000  2300  2400  1000
bebida  1000  1200  1600   600
extra   1200  1300  1400   600

# Índices y selección
Existen muchas formas de manipular los DataFrames y de seleccionar los elementos que queremos transformar.

**Dictionary like:**


``` python
df['col1'] 
df[['col1', 'col3']]
```



 **Numpy like:**
``` python
iloc = index location

df.iloc[:]
df.iloc[:,:]
```
**Label based:**
``` python
loc = location
df.loc[:]
df.loc[:,:]
```
Existe una gran diferencia en la forma en la que utilizamos estos slices porque varia de la forma tradicional de Python. loc va a incluir el final del que necesitamos.

In [52]:
#Dictionary like
business_results_frame[2019]

comida    2400
bebida    1600
extra     1400
Name: 2019, dtype: int64

In [53]:
#Dictionary like
business_results_frame[[2019,2018]]

        2019  2018
comida  2400  2300
bebida  1600  1200
extra   1400  1300

In [54]:
#Numpy like
business_results_frame.iloc[:2]

        2017  2018  2019  2020
comida  2000  2300  2400  1000
bebida  1000  1200  1600   600

In [55]:
#Numpy like
business_results_frame.iloc[1:2][2019]

bebida    1600
Name: 2019, dtype: int64

In [56]:
#Numpy like
business_results_frame.iloc[:][2019]

comida    2400
bebida    1600
extra     1400
Name: 2019, dtype: int64

In [67]:
#Label based:
business_results_frame.loc[:,2019:2020]

        2019  2020
comida  2400  1000
bebida  1600   600
extra   1400   600