# Estructura de datos
Hoy veremos las diferentes estructuras de datos que analizamos el semestre anterior a forma de repaso

#Tuplas
Las tuplas no permiten asignacion de nuevos valores pues listas que no se pueden modificar

In [13]:
lista_tupla = (1,2,3,4,12)
print (lista_tupla)

meses = ("enero", "febrero")
dias = ("lunes", "martes")

print(meses, dias)

(1, 2, 3, 4, 12)
('enero', 'febrero') ('lunes', 'martes')

# Diccionarios

In [10]:
diccionario = {}
diccionario = {"Alumnos":["Elena", "Marco", "Juanes", "Maria Camila"], "Profesores":["Braiam", "Catalina", "Gustavo", "Daniel"] }
print (diccionario["Alumnos"])
print (diccionario["Profesores"])
print (diccionario.keys())
print(diccionario.values())

['Elena', 'Marco', 'Juanes', 'Maria Camila']
['Braiam', 'Catalina', 'Gustavo', 'Daniel']
dict_keys(['Alumnos', 'Profesores'])
dict_values([['Elena', 'Marco', 'Juanes', 'Maria Camila'], ['Braiam', 'Catalina', 'Gustavo', 'Daniel']])

Por ejemplo para adicionar una nueva llave en el diccionario hacemos lo siguiente

In [11]:
diccionario["Directores"] = ["Carolina","Tatiana"]
print(diccionario)

{'Alumnos': ['Elena', 'Marco', 'Juanes', 'Maria Camila'], 'Profesores': ['Braiam', 'Catalina', 'Gustavo', 'Daniel'], 'Directores': ['Carolina', 'Tatiana']}

# Listas

In [15]:
listas = ["Directores",2,1.78]
print (listas)

['Directores', 2, 1.78]

# Variables elementales

In [31]:
edad = -1
estatura = 1.67
nombre = "Daniel"
boolean = True
condicion = edad > 25 and estatura  > 1.40
print (condicion)
print (type(edad), type(estatura), type(nombre), type (condicion))

if (condicion): 
  print("Esto satisface la condicion")

print (type (meses))
print (type (diccionario))
print (type (listas))

nombre = nombre + " Herrera "
while (edad < 0):
  try:
    edad = int (input("ingrese su edad : "))
  except ValueError:
    print ("Entrada no valida")

print ("Adios")

False
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
<class 'tuple'>
<class 'dict'>
<class 'list'>
ingrese su edad : sad
Entrada no valida
ingrese su edad : asd
Entrada no valida
ingrese su edad : 27
Adios